.request-loan {
  .request-loan-template {
    margin-top: 20px;
    .request-loan-template-content {
      padding: 60px;
    }
    .date-range-label-left {
      margin-left: -16px;
    }
    .date-range-label-right {
      margin-right: -16px;
      float: right;
    }
    .input-range {
      margin-top: 100px;
    }
  }
}
