.dockerignore
Dockerfile
.editorconfig
build/*
node_modules/*
.env
.env-sample
README.md
dist
.gitignore
.prettierignore
.prettierrc
nodemon.json
nodemon-debug.json
.stylelintrc.json
.gitattributes
.vscode
.idea
.gitlab
/scripts
